.wrapper {
  background: #007AFF;
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;

  .container {
    table {
      border-radius: 8px;
      overflow: hidden;
      width: 100%;
      margin: 24px 0;

      tr {
        cursor: pointer;
        position: relative;
      }

      tr:hover {
        background: #eeeeee;
      }

      img {
        border-radius: 50%;
        height: 24px;
        width: 24px;
        margin-right: 12px;
      }
    }
  }
}

